<div id="test-popup1" class="white-popup lr-popup mfp-hide text-center">
    <h4>Login</h4>
    <form class="subscribe-popup-form" method="post" action="#">
        {% csrf_token %}
        {{ login_form.login_email }}
        {{ login_form.login_password }}
        <div class="form-check text-left">
            <label>Remember me
                {{ login_form.login_remember }}
                <span class="checkmark"></span>
            </label>
            <a href="#" class="forgot-password float-right">Forgot Password ?</a>
        </div>
        <input class="btn btn-primary" type="submit" title="Login" value="Login">
    </form>
    <h6>Don't have an account?</h6>
    <a href="#test-popup2" class="sign-up open-popup-link">Click here to Sign up</a>
</div>