<div id="test-popup2" class="white-popup lr-popup mfp-hide">
    <h4>Registration</h4>
    <form class="subscribe-popup-form" method="post" action="#">
        {% csrf_token %}
        {{ registration_form.registration_name }}
        {{ registration_form.registration_email }}
        {{ registration_form.registration_password }}
        {{ registration_form.registration_confirm_password }}
        <div class="form-check">
            <label>I accept the terms and conditions
                {{ registration_form.registration_accept_terms }}
                <span class="checkmark"></span>
            </label>
        </div>
        <input class="btn btn-primary" type="submit" title="Subscribe" value="Register">
    </form>
</div>