{% load static %}


<div class="header-cart">
        <a href="{% url 'cart' %}" class="cart-mini-box-logo">
            <div class="cart-icon">
                <img src=" {% static 'image/cart-icon.png' %} " alt="cart-icon">
                <span>{{ user_card|length }}</span>
            </div>
            $ <i class="fa fa-angle-down"></i>
        </a>
        <div class="cart-box">
            <div class="cart-info" id="parent" >

            </div>
        <div class="price-prodect d-flex align-items-center justify-content-between">
            <p class="total">total</p>
            <p class="total-price">$ </p>
        </div>
        <div class="cart-btn">
            <a href="{% url 'cart' %}" class="btn btn-primary">View Cart</a>
        </div>
    </div>
</div>
