{% load static %}

<div class="carousel-item {{ data.active }} slider-area background_bg" data-img-src="{% static data.img %}">
    <div class="banner_slide_content {{ data.position_slider }}">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-9">
                    <div class="slider-caption {{ data.position_text }}">
                        <h1 class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">SUMMER SALE</h1>
                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Get up to 50% off your shopping items tomorrow!</p>
                        <a href="shop.html" class="btn btn-primary animation" data-animation="fadeInUp" data-animation-delay="1s">Shop Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>