{% load static %}

<section class="slider pt-0">
    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for item in start_slider %}
                {% include 'includes/start_sliders/slider.html' with data=item %}
            {% endfor %}
        </div>
        <ol class="carousel-indicators">
            {% for slider in start_slider %}
                <li data-target="#carouselExampleControls" data-slide-to="{{ forloop.counter0 }}" class="{{ slider.active }}"></li>
            {% endfor %}
        </ol>
    </div>
</section>