<div class="header-top">
    <div class="container">
        <div class="row">
            {% include "includes/our_contacts/small_contacts.html" %}
            <div class="col-md-6">
                <ul class="header_list text-md-right text-center">
                    <li><a href="#test-popup1" class="open-popup-link">Login</a>
                        {%  include 'includes/forms/login.html' %}
                        {%  include 'includes/forms/registration.html' %}
                    </li>
                    <li><a href="#">Wishlist</a></li>
                    <li><a href="my-account.html">My Account</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>