{% load static %}

<!-- Jquery js -->
<script src= "{% static 'js/jquery.min.js' %}" ></script>
<!-- popper.min js -->
<script src= "{% static 'js/popper.min.js' %}" ></script>
<!-- Bootstrap js -->
<script src= "{% static 'js/bootstrap.min.js' %}" ></script>
<!-- Magnific Popup js -->
<script src= "{% static 'js/jquery.magnific-popup.min.js' %}" ></script>
<!-- Map js -->
<script src="https://maps.googleapis.com/maps/api/js?key={key}"  ></script>
<!-- Owl js -->
<script src= "{% static 'js/owl.carousel.min.js' %}" ></script>
<!-- Countdown js -->
<script src= "{% static 'js/countdown.min.js' %}" ></script>
<!-- Counter js -->
<script src= "{% static 'js/jquery.countup.js' %}" ></script>
<!-- waypoint js -->
<script src= "{% static 'js/waypoint.js' %}" ></script>
<!-- Select2 js -->
<script src= "{% static 'js/select2.min.js' %}" ></script>
<!-- Price Slider js -->
<script src= "{% static 'js/jquery-price-slider.js' %}" ></script>
<!-- jquery.elevatezoom js -->
<script src={% static 'js/jquery.elevatezoom.js' %} ></script>
<!-- imagesloaded.pkgd.min js -->
<script src={% static 'js/imagesloaded.pkgd.min.js' %} ></script>
<!-- isotope.min js -->
<script src={% static 'js/isotope.min.js' %} ></script>
<!-- jquery.fitvids js -->
<script src={% static 'js/jquery.fitvids.js' %} ></script>
<!-- mCustomScrollbar.concat.min js -->
<script src= "{% static 'js/mCustomScrollbar.concat.min.js' %}" ></script>
<!-- Custom css -->
<script src= "{% static 'js/custom.js' %}" ></script>
