{% load static %}

<script src="{% static 'js/services.js' %}"></script>
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key={key}" ></script>
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/countdown.min.js' %}" type="text/jscript"></script>
<script src="{% static 'js/jquery.countup.js' %}"></script>
<script src="{% static 'js/waypoint.js' %}"></script>
<script src="{% static 'js/jquery-price-slider.js' %}"></script>
<script src="{% static 'js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'js/isotope.min.js' %}"></script>
<script src="{% static 'js/jquery.fitvids.js' %}"></script>
<script src="{% static 'js/mCustomScrollbar.concat.min.js' %}"></script>
<script src="{% static 'js/jquery.elevatezoom.js' %}"></script>
<script src="{% static 'js/custom.js' %}"></script>