<section class="popular-products">
	<div class="container">
    	<div class="row">
        	<div class="col-12">
            	<div class="title text-center">
                	<h4>POPULAR PRODUCTS</h4>
                </div>
            </div>
        </div>
		<div class="row">
			<div class="col-12">
				<div class="products-slider4 same-nav owl-carousel owl-theme" data-margin="30" data-dots="false" data-nav="true">
                {% for item in popular %}
                    {% include 'shop/product_card.html' with data=item class="product" %}
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>