{% load static %}

<!doctype html>
<html lang="en">

<head>
    {% include 'includes/base_part/head.html' %}
</head>
    <body>
    <!--{% include 'includes/base_part/preloader.html' %}-->

        <header>
            {% include 'includes/header/header_top.html' %}
            {% include 'includes/header/header_mdl.html' %}
            {% include 'includes/header/header_btm.html' %}
        </header>

        {% block main %}
        {% endblock %}

        <!-- Home Popup Section -->
        <div class="modal fade bd-example-modal-lg main-popup" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-body p-0">
                        <div class="newsletter-pop-up d-flex">
                            <div class="popup-img">
                                <img src=" {% static 'image/1_popup-img.jpg' %}" alt="popup-img">
                            </div>
                            <div class="popup-form text-center">
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true"><i class="ion-close-round"></i></span>
                                </button>
                                <div class="popup-logo">
                                    <img src=" {% static 'image/logo.png' %}" alt="logo">
                                </div>
                                <div class="popup-text">
                                    <p>Join us Now</p>
                                    <h6>And get hot news about the theme</h6>
                                </div>
                                <form class="subscribe-popup-form" method="post" action="#">
                                    <input name="email" required type="email" placeholder="Enter Your Email">
                                    <button class="btn btn-primary" title="Subscribe" type="submit">Subscribe</button>
                                </form>
                                <div class="form-check">
                                    <label>Don't show this popup again!
                                        <input class="defult-check" type="checkbox" checked="checked">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Screen Load Popup Section -->

        <!-- Start Quickview Popup Section -->
        {% include 'popups/product/qwick_view.html' %}
        <!-- End Quickview Popup Section -->

        <a href="#" class="scrollup" style="display: none;"><i class="ion-ios-arrow-up"></i></a>

        <!-- Start Footer Section -->
        <footer>
            <div class="footer-top">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-4 col-md-12 col-sm-12">
                            <div class="footer-box box-1">
                                <h6 class="fb-title">ABOUT US</h6>
                                <div class="fb-iner">
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 order-md-last">
                            <div class="footer-box box-4">
                                <h6 class="fb-title">CONTACT INFO</h6>
                                <div class="fb-iner">
                                    <ul>
                                        <li><i class="ion-ios-location-outline"></i><p>c/o Giunti International Division Via G.B. Pirelli, 30 20124 Milan</p></li>
                                        <li><i class="ion-ios-telephone-outline"></i><p>+025 2155 3255</p></li>
                                        <li><i class="ion-ios-email-outline"></i><a href="#">info@gmail.com</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="footer-box box-2">
                                <h6 class="fb-title">CATEGORIES</h6>
                                <div class="fb-iner">
                                    <ul class="footer-links">
                                        <li><a href="#">Fashion Sneakers</a></li>
                                        <li><a href="#">Jackets</a></li>
                                        <li><a href="#">Outdoor Shop</a></li>
                                        <li><a href="#">Pants</a></li>
                                        <li><a href="#">Shirts & Tops</a></li>
                                        <li><a href="#">Swim Shop</a></li>
                                        <li><a href="#">Swimwear</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-3 col-6">
                            <div class="footer-box box-3">
                                <h6 class="fb-title">MY ACCOUNT</h6>
                                <div class="fb-iner">
                                    <ul class="footer-links">
                                        <li><a href="#">Orders</a></li>
                                        <li><a href="#">Compare</a></li>
                                        <li><a href="#">Wishlist</a></li>
                                        <li><a href="#">Log In</a></li>
                                        <li><a href="#">Register</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-btm">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="copyright">
                                <p>Copyright © 2018. All Rights Reserved.</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="footer-social text-md-right">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                    <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!-- End Footer Section -->

        {% include 'includes/base_part/scripts.html' %}
    </body>
</html>
