{%  extends 'base.html' %}
{%  load static %}

{%  block main %}
    <!-- Start Slider Section -->
    {%  include 'includes/start_sliders/start_slider.html' %}
    <!-- End Slider Section -->

    <!-- Start Offer Banner Section -->
    {%  include 'includes/offer_banners/offer_banners.html' %}
    <!-- End Offer Banner  Section -->

    <!-- Start Popular Products Section -->
    {%  include 'includes/popular_products/popular_products.html' %}
    <!-- End Popular Products Section -->

    <!-- Start Banner Section -->
    {%  include 'includes/start_banners/start_banners.html' %}
    <!-- End Banner Section -->

    <!-- Start Best Saller Section -->
    {%  include 'includes/bests_sellers/best_sellers.html' %}
    <!-- End Best Saller Section -->

    <!-- Start Quickview Popup Section -->
    {%  include 'includes/popup_section/popups.html' %}
    <!-- End Quickview Popup Section -->
{% endblock %}




