{% extends 'base.html' %}
{% load static %}

{% block main %}

<!-- Start Breadcrumbs Section -->
<section class="breadcrumbs-section background_bg" data-img-src="{%  static 'image/shop-breadcrumbs-img.jpg' %}">
	<div class="container">
    	<div class="row">
        	<div class="col-md-12">
                <div class="page_title text-center">
                	<h1>shop</h1>
                    <ul class="breadcrumb justify-content-center">
                    	<li><a href="{% url 'home' %}">home</a></li>
                        <li><span>shop</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Header Section -->

<!-- Start Shop Section -->
<section class="shop-inner-section pt_large pb_large">
	<div class="container">
    	<div class="row">
        	<div class="col-xl-9 col-lg-8 col-md-12">
            	<div class="shop-options d-sm-flex justify-content-between align-items-center">
                	<div class="sorting-option">
                        <form method="POST" action="/shop">
                            {% csrf_token %}
                            {{ sort.frameworks }}
                        </form>
                    </div>
                    <div class="showing-items">
                        <p>Showing 1–9 of 15 results</p>
                    </div>
                    <div class="shop-list_grid">
                        <div class="list_grid-btns">
                        	<a href="javascript:void(0)" class="list-view"><i class="ion-navicon-round"></i></a>
                    		<a href="javascript:void(0)" class="grid-view on"><i class="ion-grid"></i></a>
                        </div>
                    </div>
                </div>

                <div class="row list_grid_container grid justify-content-center">
                    {% include 'shop_page/products.html' %}
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <nav>
                            <ul class="pagination justify-content-center">
                                <li class="active"><a href="#">1</a></li>
                                <li><a href="#">2</a></li>
                                <li><a href="#">3</a></li>
                                <li><a href="#" aria-label="Next"><i class="fa fa-angle-right"></i></a></li>
                            </ul>
                        </nav>
                    </div>
        		</div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-12 order-lg-first"> 
            	<div class="shop-sidebar">
                	<div class="side-quantity-box side-box">
                    	<div class="side-box-title">
                        	<h6>Categories</h6>
                        </div>
                        <div class="quantity-box-detail">
                        	<ul>
                            	<li><a href="#">Women<span>(10)</span></a></li>
                                <li><a href="#">Men<span>(05)</span></a></li>
                                <li><a href="#">Footwear<span>(15)</span></a></li>
                                <li><a href="#">Bags And Backpacks<span>(20)</span></a></li>
                                <li><a href="#">Accessories<span>(07)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-filter-box side-box">
                        <div class="side-box-title">
                            <h6>Filter</h6>
                        </div>
                        <div class="filter-box-detail">
                            <div id="slider-range"></div>
                            <div class="price_slider_amount">
                                <div class="slider-values d-flex align-items-center">
                                	<p>Price</p>
                                    <input type="text" id="amount" name="price"  placeholder="Add Your Price" /> 
                                </div>
                            </div>
                        </div>
                	</div>
                    <div class="side-quantity-box side-box">
                    	<div class="side-box-title">
                        	<h6>color</h6>
                        </div>
                        <div class="quantity-box-detail">
                        	<ul>
                            	<li><a href="#">black<span>(10)</span></a></li>
                                <li><a href="#">blue<span>(05)</span></a></li>
                                <li><a href="#">red<span>(15)</span></a></li>
                                <li><a href="#">white<span>(20)</span></a></li>
                                <li><a href="#">grey<span>(07)</span></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="side-quantity-box side-box">
                    	<div class="side-box-title">
                        	<h6>recent Product</h6>
                        </div>
                        <div class="side-recent-product">
                            {% for item in populars %}
                                {% include 'shop_page/recent_product.html' with data=item %}
                            {%  endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- End Shop Section -->

{% endblock %}
