{% extends 'base.html' %}
{% load static %}

{% block main %}
    <!-- Start Slider Section -->
    <section class="slider pt-0">
        <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active slider-area background_bg" data-img-src=" {% static 'image/slider-img-1.jpg' %}">
                    <div class="banner_slide_content left-align">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-9">
                                    <div class="slider-caption">
                                        <h1 class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">SUMMER SALE</h1>
                                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Get up to 50% off your shopping items tomorrow!</p>
                                        <a href="{% url 'shop' %}" class="btn btn-primary animation" data-animation="fadeInUp" data-animation-delay="1s">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-area background_bg" data-img-src=" {% static 'image/slider-img-2.jpg' %}">
                    <div class="banner_slide_content right-align">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-9">
                                    <div class="slider-caption text-right">
                                        <h1 class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">SUMMER SALE</h1>
                                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Get up to 50% off your shopping items tomorrow!</p>
                                        <a href="{% url 'shop' %}" class="btn btn-primary animation" data-animation="fadeInUp" data-animation-delay="1s">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="carousel-item slider-area background_bg" data-img-src=" {% static 'image/slider-img-3.jpg' %}">
                    <div class="banner_slide_content center-align">
                        <div class="container">
                            <div class="row">
                                <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 col-9">
                                    <div class="slider-caption text-center">
                                        <h1 class="animation" data-animation="fadeInDown" data-animation-delay="0.2s">SUMMER SALE</h1>
                                        <p class="animation" data-animation="fadeInUp" data-animation-delay="0.6s">Get up to 50% off your shopping items tomorrow!</p>
                                        <a href="{% url 'shop' %}" class="btn btn-primary animation" data-animation="fadeInUp" data-animation-delay="1s">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleControls" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleControls" data-slide-to="1"></li>
                <li data-target="#carouselExampleControls" data-slide-to="2"></li>
            </ol>
        </div>
    </section>
    <!-- End Slider Section -->

    <!-- Start Offer Banner Section -->
    <section class="offer-banners">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-4 text-center">
                    <a href="#" class="offer-banner same-hover"><img src=" {% static 'image/offer-banner-1.jpg' %}" alt="offer-banner"></a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#" class="offer-banner same-hover"><img src=" {% static 'image/offer-banner-2.jpg' %}" alt="offer-banner"></a>
                </div>
                <div class="col-sm-4 text-center">
                    <a href="#" class="offer-banner same-hover"><img src=" {% static 'image/offer-banner-3.jpg' %}" alt="offer-banner"></a>
                </div>
            </div>
        </div>
    </section>
    <!-- End Offer Banner  Section -->

    <!-- Start Popular Products Section -->
    {% include 'products_slider/populars.html' %}
    <!-- End Popular Products Section -->

    <!-- Start Banner Section -->
    <section class="banner-section">
        <div class="container">
            <div class="row no-gutters justify-content-center">
                <div class="col-md-6">
                    <div class="banner-box">
                        <a href="#" class="same-hover"><img src=" {% static 'image/fashion-banner-1.jpg' %}" alt="fashion-banner"></a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="banner-box">
                        <a href="#" class="same-hover"><img src=" {% static 'image/fashion-banner-2.jpg' %}" alt="fashion-banner"></a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Section -->

    <!-- Start Best Saller Section -->
    {% include 'products_slider/bestsellers.html' %}
    <!-- End Best Saller Section -->
{% endblock %}
